#products {
    background-color: #fff;
    min-height: 100vh;
    padding: 6rem 0;
    overflow-x: hidden;

    h1 {
        font-size: 4rem;
        margin-bottom: 8rem;
    }

    .product-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5vw;
        margin: 4rem;
        // overflow: hidden;
    }
}